# Copyright Protection
# Ensure all files maintain copyright information

* text=auto
*.html linguist-detectable=true
*.js linguist-detectable=true
*.css linguist-detectable=true
*.py linguist-detectable=true

# Copyright notices should not be removed
*.html -copyright
*.js -copyright
*.css -copyright
*.py -copyright
